{{ $url := urls.Parse .Destination }}
{{ $altText := .Text }}
{{ $caption := .Title }}
{{ if findRE "^https?" $url.Scheme }}
  <figure>
    <img class="my-0 rounded-md" src="{{ $url.String }}" alt="{{ $altText }}" />
    {{ with $caption }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
  </figure>
{{ else }}
  {{ $resource := "" }}
  {{ if $.Page.Resources.GetMatch ($url.String) }}
    {{ $resource = $.Page.Resources.GetMatch ($url.String) }}
  {{ else if resources.GetMatch ($url.String) }}
    {{ $resource = resources.Get ($url.String) }}
  {{ end }}
  {{ with $resource }}
    <figure>
      <a href="{{ $resource.RelPermalink }}">
        <picture>
          <source
            media="(max-width: 300px)"
            srcset="{{ (.Resize "330x webp").RelPermalink }}"
            type="image/webp"
          />
          <source
            media="(min-width: 300px) and (max-width: 600px)"
            srcset="{{ (.Resize "660x webp").RelPermalink }}"
            type="image/webp"
          />
          <source
            media="(min-width: 600px) and (max-width: 1000px)"
            srcset="{{ (.Resize "1024x webp").RelPermalink }}"
            type="image/webp"
          />
          <source
            media="(min-width: 1000px)"
            srcset="{{ (.Resize "1320x webp").RelPermalink }}"
            type="image/webp"
          />
          <img
            class="my-0 rounded-md"
            alt="{{ $altText }}"
            loading="lazy"
            srcset="
              {{ (.Resize "330x").RelPermalink }}  330w,
              {{ (.Resize "660x").RelPermalink }}  660w,
              {{ (.Resize "1024x").RelPermalink }} 1024w,
              {{ (.Resize "1320x").RelPermalink }} 1320w
            "
            src="{{ (.Resize "1024x").RelPermalink }}"
            sizes="(max-width: 300px) 330w,
                (min-width: 300px) and (max-width: 600px) 660w,
                (min-width: 600px) and (max-width: 1000px) 1024w,
                (min-width: 1000px) 1320w,
                100vw"
          />
        </picture>
      </a>
      {{ with $caption }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
    </figure>
  {{ else }}
    <figure>
      <img
        class="my-0 rounded-md"
        src="{{ $url.String }}"
        alt="{{ $altText }}"
      />
      {{ with $caption }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
    </figure>
  {{ end }}
{{ end }}
