@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .mask-image-gradient {
    mask-image: linear-gradient(
      180deg,
      #000 40%,
      rgba(0, 0, 0, 0.5),
      transparent
    );
  }

  .no-mask-image-gradient {
    mask-image: none;
  }
}

@layer utilities {
  .animyguy:after {
    content: "😁";
    animation: aniguy 1500ms infinite;
  }

  @keyframes aniguy {
    0% {
      content: "😁";
    }
    70% {
      content: "😁";
    }
    100% {
      content: "🤣";
    }
  }
}
