{{ partial "header" . }}
<section class="section">
  <div class="container">
    <nav id="nav-main" class="nav">
      <div id="nav-name" class="nav-left">
        <a id="nav-anchor" href="{{ .Site.BaseURL }}">
          <div class="flex items-center">
            <div>
              <span class="icon">
                <i class>
                  {{- partial "svg/icons" "arrow-left" -}}
                </i>
              </span>
            </div>
            <div>
              Back to blog
            </div>
          </div>
        </a>
      </div>
    </nav>
    <div class="content">
      {{ .Content }}
      {{ if .Site.Params.Info.related }}
      <div class="related">{{ partial "related" . }}</div>
      {{ end }}
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="center">
      {{- $social := ( .Site.Params.social ) -}}
      {{- range $platform := $social.config.platforms -}}
      {{- with $username := ( index $social $platform ) -}}
      <a class="level-item" aria-label="{{ $platform }}"
        href='{{ print ( index $.Site.Data.theme.social.base $platform ) $username }}' target='_blank' rel='noopener'>
        <span class="icon">
          <i class>
            {{- partial "svg/icons" $platform -}}
          </i>
        </span>
      </a>
      {{- end -}}
      {{- end -}}
    </div>
  </div>
</section>
{{ if (and (.Site.Params.Info.codeCopy) (findRE "<pre" .Content 1)) }}
{{ $js := resources.Get "/js/copycode.js" }}
{{ $secureJS := $js | resources.Fingerprint }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
{{ end }}
{{ partial "footer" . }}
