<article class="mt-6 flex flex-row group">
  <a
    class="pt-2 transition group-hover:bg-fuchsia-400 dark:group-hover:bg-fuchsia-700 group-hover:bg-opacity-30 dark:group-hover:bg-opacity-30 group-hover:shadow-[0_0_15px_15px_rgba(0,0,0,0.5)] group-hover:shadow-fuchsia-400/30 dark:group-hover:shadow-fuchsia-700/30 rounded-lg group-hover:scale-105"
    href="{{ .RelPermalink }}"
  >
    {{- $images := $.Resources.ByType "image" }}
    {{- $thumbnail := $images.GetMatch (.Params.thumbnail | default "*thumb*") }}
    {{- $feature := $images.GetMatch (.Params.feature | default "*feature*") | default $thumbnail }}
    {{- with $feature }}
      <div class="flex-none pe-4 sm:pe-6 ">
        <a
          href="{{ with $.Params.externalUrl }}
            {{ . }}
          {{ else }}
            {{ $.RelPermalink }}
          {{ end }}"
          aria-label="{{ $.Title | emojify }}"
        >
          <img
            alt="{{ $.Params.featureAlt | default $.Params.thumbnailAlt | default "" }}"
            {{ if eq .MediaType.SubType "svg" }}
              class="w-24 max-w-[6rem] max-h-[4.5rem] rounded-md
              sm:max-h-[7.5rem] sm:w-40 sm:max-w-[10rem]"
              src="{{ .RelPermalink }}"
            {{ else }}
              class="w-24 rounded-md sm:w-40" srcset="
              {{- (.Fill "160x120 smart").RelPermalink }}
              160w, {{- (.Fill "320x240 smart").RelPermalink }} 2x"
              src="{{ (.Fill "160x120 smart").RelPermalink }}" width="160"
              height="120"
            {{ end }}
            {{ if $.Site.Params.enableImageLazyLoading | default true }}
              loading="lazy"
            {{ end }}
          />
        </a>
      </div>
    {{- end }}
    <div class="">
      <h3 class="flex items-center text-xl font-semibold">
        {{ with .Params.externalUrl }}
          <div>
            <a
              class="text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral"
              href="{{ . }}"
              target="_blank"
              rel="external"
              >{{ $.Title | emojify }}</a
            >
            <span
              class="cursor-default align-top text-xs text-neutral-400 dark:text-neutral-500"
              title="{{ i18n "list.externalurl_title" }}"
            >
              <span class="rtl:hidden">&#8599;</span>
              <span class="ltr:hidden">&#8598;</span>
            </span>
          </div>
        {{ else }}
          <span
            class="decoration-primary-500 group-hover:underline group-hover:underline-offset-2"
          >
            {{ .Title | emojify }}
          </span>
        {{ end }}
        {{ if and .Draft .Site.Params.article.showDraftLabel }}
          <div class="ms-2">
            {{ partial "badge.html" (i18n "article.draft" | emojify) }}
          </div>
        {{ end }}
        {{ if templates.Exists "partials/extend-article-link.html" }}
          {{ partial "extend-article-link.html" . }}
        {{ end }}
      </h3>
      <div class="text-sm text-neutral-500 dark:text-neutral-400">
        {{ partial "article-meta.html" . }}
      </div>
      {{ if .Params.showSummary | default (.Site.Params.list.showSummary | default false) }}
        <div class="pt-2 prose max-w-prose">
          <div
            class="mask-image-gradient group-hover:no-mask-image-gradient line-clamp-4 group-hover:overflow-hidden text-neutral-500 group-hover:text-neutral-700 dark:text-neutral-500 group-hover:dark:text-neutral-300"
          >
            {{ .Summary | emojify }}
          </div>
          <div
            class="invisible text-center group-hover:visible text-neutral-800 dark:text-neutral-200 font-semibold text-base"
          >
            <span class="text-lg group-hover:animate-pulse-fast">☺️ ✨</span>
            Continue reading...
            <span class="text-lg group-hover:animate-pulse-fast">💫 🤣</span>
          </div>
        </div>
      {{ end }}
    </div>
  </a>
</article>
