{{ partial "header" . }}
{{ partial "nav" . }}
{{ $covercaption := .Params.covercaption }}
{{ with .Resources }}
  {{ with .GetMatch "{cover.*}" }}
    <section class="section w-100 pa0">
      <div>
        <figure>
          <img src="{{ .Permalink }}" class="w-100" />
          <figcaption><p class="tc"><em>{{ $covercaption }}</em></p></figcaption>
        </figure>
      </div>
    </section>
  {{ end }}
{{ end }}
<section class="section">
  <div class="container">
    <div class="subtitle tags is-6 is-pulled-right">
      {{ if .Params.tags }}
      {{ partial "tags" .Params.tags }}
      {{ end }}
    </div>
    {{if not .Date.IsZero }}<h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h2>{{ end }}
    <h1 class="title">{{ .Title }}</h1>
    <div class="content">
      {{ .Content }}
      <hr />
      {{ if .Site.Params.Info.related }}
      <div class="related">{{ partial "related" . }}</div>
      {{ end }}
    </div>
  </div>
</section>
{{ if (and (.Site.Params.Info.codeCopy) (findRE "<pre" .Content 1)) }}
{{ $js := resources.Get "/js/copycode.js" }}
{{ $secureJS := $js | resources.Minify | resources.Fingerprint }}
<script async type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
{{ end }}
{{ partial "footer" . }}
