{{ partial "header" . }}
{{ partial "nav" . }}
{{ $covercaption := .Params.covercaption }}
{{ with .Resources }}
  {{ with .GetMatch "{cover.*}" }}
    <section class="section w-100 pa0">
      <div>
        <figure>
          <img src="{{ .Permalink }}" class="w-100" />
          <figcaption><p class="tc pl1 pr1"><em>{{ $covercaption }}</em></p></figcaption>
        </figure>
      </div>
    </section>
  {{ end }}
{{ end }}
<section class="section">
  <div class="container">
    <div class="subtitle tags is-6 is-pulled-right">
      {{ if .Params.tags }}
      {{ partial "tags" .Params.tags }}
      {{ end }}
    </div>
    {{if not .Date.IsZero }}<h2 class="subtitle is-6 date">{{ .Date.Format "January 2, 2006" }}</h2>{{ end }}
    <h1 class="title">{{ .Title }}</h1>
    <div class="content">
      {{ .Content }}
      <hr class="fancy-line shadow-4 o-90" />
      <div class="mw6 ma4 br3 overflow-hidden shadow-3 pa3 center">
        <div class="blogmail">
          <script type="application/json">
            {
              "newsletterId": "99eeac0d-b04c-4d57-89f6-c37fc33abc7a",
              "inputPlaceholder": "your email",
              "labelText": "Get notified by email when there's a new post",
              "buttonText": "Subscribe",
              "subscribedText": "Subscribed!",
              "classes": {
                "a": "underline blue",
                "formDiv": "flex flex-wrap sans-serif input-reset",
                "bottomDiv": "sans-serif lh-copy f6 black-40 ph1",
                "label": "w-100 f5 pa1 near-black",
                "subscribedDiv": "f5 pa1 near-black",
                "textInput": "flex-grow grow ma1 pa2 br2 bg-black-10 bn near-black",
                "submitInput": "disabled:opacity-50 ma1 pa2 br2 bn glow dim dib near-black bg-blue"
              },
              "styles": {
                "textInput": "flex-grow:1"
              }
            }
          </script>
        </div>
      </div>
      <script async src="https://blogmail.co/v1/bm.js"></script>
      {{ if .Site.Params.Info.related }}
      <div class="related">{{ partial "related" . }}</div>
      {{ end }}
    </div>
  </div>
</section>
{{ if (and (.Site.Params.Info.codeCopy) (findRE "<pre" .Content 1)) }}
{{ $js := resources.Get "/js/copycode.js" }}
{{ $secureJS := $js | resources.Minify | resources.Fingerprint }}
<script async type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
{{ end }}
{{ partial "footer" . }}
