@font-face {
  font-family: "Source Code Pro";
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/WOFF2/TTF/SourceCodePro-ExtraLight.ttf.woff2") format("woff2"),
    url("/fonts/WOFF/OTF/SourceCodePro-ExtraLight.otf.woff") format("woff"),
    url("/fonts/OTF/SourceCodePro-ExtraLight.otf") format("opentype"),
    url("/fonts/TTF/SourceCodePro-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  src: url("/fonts/WOFF2/TTF/SourceCodePro-ExtraLightIt.ttf.woff2") format("woff2"),
    url("/fonts/WOFF/OTF/SourceCodePro-ExtraLightIt.otf.woff") format("woff"),
    url("/fonts/OTF/SourceCodePro-ExtraLightIt.otf") format("opentype"),
    url("/fonts/TTF/SourceCodePro-ExtraLightIt.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/WOFF2/TTF/SourceCodePro-Light.ttf.woff2") format("woff2"),
    url("/fonts/WOFF/OTF/SourceCodePro-Light.otf.woff") format("woff"),
    url("/fonts/OTF/SourceCodePro-Light.otf") format("opentype"),
    url("/fonts/TTF/SourceCodePro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: url("/fonts/WOFF2/TTF/SourceCodePro-LightIt.ttf.woff2") format("woff2"),
    url("/fonts/WOFF/OTF/SourceCodePro-LightIt.otf.woff") format("woff"),
    url("/fonts/OTF/SourceCodePro-LightIt.otf") format("opentype"),
    url("/fonts/TTF/SourceCodePro-LightIt.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/WOFF2/TTF/SourceCodePro-Regular.ttf.woff2") format("woff2"),
    url("/fonts/WOFF/OTF/SourceCodePro-Regular.otf.woff") format("woff"),
    url("/fonts/OTF/SourceCodePro-Regular.otf") format("opentype"),
    url("/fonts/TTF/SourceCodePro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url("/fonts/WOFF2/TTF/SourceCodePro-It.ttf.woff2") format("woff2"),
    url("/fonts/WOFF/OTF/SourceCodePro-It.otf.woff") format("woff"),
    url("/fonts/OTF/SourceCodePro-It.otf") format("opentype"),
    url("/fonts/TTF/SourceCodePro-It.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/WOFF2/TTF/SourceCodePro-Medium.ttf.woff2") format("woff2"),
    url("/fonts/WOFF/OTF/SourceCodePro-Medium.otf.woff") format("woff"),
    url("/fonts/OTF/SourceCodePro-Medium.otf") format("opentype"),
    url("/fonts/TTF/SourceCodePro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  src: url("/fonts/WOFF2/TTF/SourceCodePro-MediumIt.ttf.woff2") format("woff2"),
    url("/fonts/WOFF/OTF/SourceCodePro-MediumIt.otf.woff") format("woff"),
    url("/fonts/OTF/SourceCodePro-MediumIt.otf") format("opentype"),
    url("/fonts/TTF/SourceCodePro-MediumIt.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/WOFF2/TTF/SourceCodePro-Semibold.ttf.woff2") format("woff2"),
    url("/fonts/WOFF/OTF/SourceCodePro-Semibold.otf.woff") format("woff"),
    url("/fonts/OTF/SourceCodePro-Semibold.otf") format("opentype"),
    url("/fonts/TTF/SourceCodePro-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url("/fonts/WOFF2/TTF/SourceCodePro-SemiboldIt.ttf.woff2") format("woff2"),
    url("/fonts/WOFF/OTF/SourceCodePro-SemiboldIt.otf.woff") format("woff"),
    url("/fonts/OTF/SourceCodePro-SemiboldIt.otf") format("opentype"),
    url("/fonts/TTF/SourceCodePro-SemiboldIt.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/WOFF2/TTF/SourceCodePro-Bold.ttf.woff2") format("woff2"),
    url("/fonts/WOFF/OTF/SourceCodePro-Bold.otf.woff") format("woff"),
    url("/fonts/OTF/SourceCodePro-Bold.otf") format("opentype"),
    url("/fonts/TTF/SourceCodePro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url("/fonts/WOFF2/TTF/SourceCodePro-BoldIt.ttf.woff2") format("woff2"),
    url("/fonts/WOFF/OTF/SourceCodePro-BoldIt.otf.woff") format("woff"),
    url("/fonts/OTF/SourceCodePro-BoldIt.otf") format("opentype"),
    url("/fonts/TTF/SourceCodePro-BoldIt.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/WOFF2/TTF/SourceCodePro-Black.ttf.woff2") format("woff2"),
    url("/fonts/WOFF/OTF/SourceCodePro-Black.otf.woff") format("woff"),
    url("/fonts/OTF/SourceCodePro-Black.otf") format("opentype"),
    url("/fonts/TTF/SourceCodePro-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  src: url("/fonts/WOFF2/TTF/SourceCodePro-BlackIt.ttf.woff2") format("woff2"),
    url("/fonts/WOFF/OTF/SourceCodePro-BlackIt.otf.woff") format("woff"),
    url("/fonts/OTF/SourceCodePro-BlackIt.otf") format("opentype"),
    url("/fonts/TTF/SourceCodePro-BlackIt.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Variable";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/WOFF2/VAR/SourceCodeVariable-Roman.ttf.woff2") format("woff2"),
    url("/fonts/WOFF/VAR/SourceCodeVariable-Roman.ttf.woff") format("woff"),
    url("/fonts/VAR/SourceCodeVariable-Roman.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Variable";
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  src: url("/fonts/WOFF2/VAR/SourceCodeVariable-Italic.ttf.woff2") format("woff2"),
    url("/fonts/WOFF/VAR/SourceCodeVariable-Italic.ttf.woff") format("woff"),
    url("/fonts/VAR/SourceCodeVariable-Italic.ttf") format("truetype");
}
