{{ $posts := where .Site.RegularPages "Section" "posts" }}
{{ $posts := where $posts "Draft" false }}
{{ $posts := $posts.GroupByDate "2006" "asc" }}
type: 'bar',
options: {
    plugins: {
        title: {
            display: true,
            text: 'Blog Posts by Year'
        },
    },
    scales: {
        y: {
            type: 'linear',
            display: true,
            position: 'left',
        },
        y1: {
            type: 'linear',
            display: true,
            position: 'right',
            z: 1,
            grid: {
                drawOnChartArea: false,
            },
        },
    },
},
data: {
  labels: [{{ range $posts }}{{.Key}},{{ end }}],
  datasets: [{
    type: 'bar',
    label: '# of posts',
    yAxisID: 'y',
    order: 2,
    borderColor: 'rgba(153, 102, 255, 0.8)',
    backgroundColor: 'rgba(153, 102, 255, 0.8)',
    borderRadius: 5,
    data: [{{ range $posts }}{{.Pages.Len}},{{ end }}],
  },
  {
    type: 'line',
    label: '# of words',
    yAxisID: 'y1',
    order: 1,
    borderColor: 'rgba(240, 99, 132, 0.8)',
    backgroundColor: 'rgba(240, 99, 132, 0.8)',
    borderRadius: 5,
    data: [{{ range $posts }}{{ $vals := 0 }}{{ range .Pages }}{{ $vals = add $vals .WordCount }}{{ end }}{{ $vals }},{{ end }}],
  }]
}
