{{ $source := .Get "src" }}
{{ $classes := .Get "classes" }}
{{ $width := .Get "width" }}
{{ $loop := .Get "loop"}}
{{ $autoplay := .Get "autoplay"}}
{{ $controls := .Get "controls"}}
{{ $preload := .Get "preload"}}
<video class="{{ $classes }}" width="{{ $width }}" 
{{ if $autoplay}}
autoplay="{{ $autoplay }}"
{{ end }}
{{ if $loop }}
loop="{{ $loop }}"
{{ end }}
{{ if $controls }}
controls="{{ $controls }}"
{{ end }}
{{ if $preload }}
preload="{{ $preload }}"
{{ end }}
>
  <source src="{{ $source }}" type="video/mp4" />
</video>
